.component-card{
    width: 300px;
    margin: auto;
    -webkit-box-shadow: -8px 22px 52px -4px rgba(0,0,0,0.76);
    -moz-box-shadow: -8px 22px 52px -4px rgba(0,0,0,0.76);
    box-shadow: -8px 22px 52px -4px rgba(0,0,0,0.76);
    position: relative;
}

.main-card{
    border: 1px solid #f5f2f2;
    background: lightcyan;
    position: relative;
    z-index: 10;
}


.extra-card{
    background: lightcyan;
    height: 30px;
    position: absolute;
    border: 1px solid #f5f2f2;
}

.extra-1{
    bottom:-5px;
    left: 3px;
    z-index: 5;
    width: 294px;
}

.extra-2{
    bottom:-10px;
    left: 6px;
    z-index: 1;
    width: 289px;
}

.card-row{
    height: 40px;
    border-bottom: 1px solid #e3dede;
    text-align: left;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.card-row:hover .close-button{
    display: block;
}

.close-button{
    display: none;
    background: none;
    border: none;
}

input{
    border: none;
    outline: none;
    background: none;
    height: 100%;
    width: 100%;
}

.footer{
    text-align: left;
    padding:5px;
}
